
/*
Exodus fruit: #686de0
#d500f9
*/

html {

    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
    color: #d500f9;
}

.title {
    text-transform: uppercase;
    text-align: center;
}

.paragraph {
    line-height: 1.8em;
}

.container {
    background: #686de0 ; /* Respaldo por si no reconoce el navegador el degradado*/
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3); 
    background: linear-gradient(to right, #eaafc8, #654ea3);
    height: 100vh; /* Depende de la etiqueta padre, que en este caso es el 100% del body*/
    /*100vh y 100vw se utilizan para indicar todo el ancho o alto de la pantalla */
    display: flex; /* Indicar que los nodos de este contenedor utlizan flexbox para su posicionamiento */
    align-items: center;
    justify-content: center;
    

}

.content {
    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 80vh;
    background-color: #fff;
    /* box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color */
    box-shadow: 0 3px 6px rgba(0,0,0.16), 0 3px 6px rgba(0,0,0.23);
    border-radius: 4px;
    position: relative;
    padding: 1.8em;
    overflow: scrolls;
    
}

.actions {
    position: absolute;
    top: 1em;
    right: 1em;
}

.close {
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: #686de0;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0.16), 0 3px 6px rgba(0,0,0.23);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;


}

.table {
    width: 100%;
    border-style: 0;
}

.fa-star, .fa-star-o {
    color: #ffc400;
}

.table td , .table th { 
    padding: 1em;
    text-align: left;
}

.table tr:nth-child(even){ background-color: #f3e5f5;}

.title-item {
    /* border-bottom-style: solid;
    border-width: 2px;
    border-color: #686de0; */
    text-transform: uppercase;
    font-size: 2em;
    border-bottom: solid 2px #686de0;
    padding-bottom: 1em;
    /*padding: arriba derecha abajo izquierda ;
    padding: arriba/abajo derecha/izquierda; */

}
.main-image {
    float: left;
    margin-right: 1em;
    height: 250px;
}

.logo-image{
    float: left;
    margin-right: 1em;
    height: 80px;
    width: 100pX;
    padding-right: 50px;
    padding-left: 50px;

}

.review {
    color:#686de0;
}

.fa-chain-broken {
    color: #686de0;
}

.position {
    background-color: #686de0;
    color: white;
    padding: 0.5em;
    border-radius: 4px;
    margin-right: 0.5em ;
    
}

@media (max-height:550px) {
    .content {
        height: 500px;
    }
}